<div class="row flat-icons">
	<div class="col s4" ng-repeat="facility in facilityRecords">
		<a href="#!facility/flacilitydetails/{{facility.id}}" class="icon-text"><div class="payment-icon ">
			<img src="assets/images/block.svg" ng-if="facility.type == 1">
			<img src="assets/images/block.svg" ng-if="facility.type == 2">
			<img src="assets/images/parkin.svg" ng-if="facility.type == 3">
			<img src="assets/images/parkin.svg" ng-if="facility.type == 4">
			<img src="assets/images/garden.svg" ng-if="facility.type == 5">
			<img src="assets/images/block.svg" ng-if="facility.type == 6">
			<img src="assets/images/dumbbells.svg" ng-if="facility.type == 7">
			<img src="assets/images/block.svg" ng-if="facility.type == 8">
			<img src="assets/images/communityHall.svg" ng-if="facility.type == 9">
			<img src="assets/images/block.svg" ng-if="facility.type == 10">
			<img src="assets/images/block.svg" ng-if="facility.type == 11">
			<img src="assets/images/block.svg" ng-if="facility.type == 12">
			<img src="assets/images/block.svg" ng-if="facility.type == 13">
			<img src="assets/images/block.svg" ng-if="facility.type == 14">
			<img src="assets/images/temple.svg" ng-if="facility.type == 15">
			<img src="assets/images/block.svg" ng-if="facility.type == 16">
			<img src="assets/images/block.svg" ng-if="facility.type == 17">
			<img src="assets/images/block.svg" ng-if="facility.type == 18">
		</div><span class="icon-text">{{facility.name}}</span></a>
	</div>
</div>	
			
			
			


