<!-- Payment Toggle -->
<div class="h-60">
    <div class="tab-content">
        <div id="payment" class="tab-pane fade in active">

            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="active" href="#details">Details</a></li>
                    <li class="tab" ng-if="isFloorVisible"><a href="#floor">Floor</a></li>
                    <li class="tab" ng-if="editFormData.isParkingLot"><a href="#parking">Parking</a></li>
                    <li class="tab"><a href="#assets">Assets</a></li>
                </ul>
            </div>
            <div id="details">
                <div class="card1">
                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col s3">
                            <div class="card-field-img" style="text-align:center">
                                <img src="assets/images/buildings.png" height="60">
                            </div>
                        </div>
                        <div class="col s9">
                            <div class="amount-weight">Name : {{ editFormData.name }}</div>
                            <div class="card-field">Facility Type : {{ facilityType.text }}</div>
                            <span class="card-field">Linked Societies :</span>
                            <button style="margin: 5px; background-color: #cdcece94;" class="card-field" ng-repeat="soc in editFormData.societies">{{ soc.society.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="floor" ng-if="isFloorVisible" >
                <div class="card1" ng-repeat="floor in editFormData.floors">
                    <a href="#!floor/details/{{floor.id}}">
                        <div class="row" style="margin-bottom: 0px;">
                            <div class="col s3" >
                                <div class="card-field-img" style="text-align:center">
                                    <img src="assets/images/floor.png" height="60">
                                </div>
                            </div>
                            <div class="col s9">
                                <div class="amount-weight">{{ floor.name }}</div>
                                <span  class="amount-weight">
                                    <i ng-if="floor.type == 1" class="fa fa-bars"></i><i ng-if="floor.type == 2" class="fa fa-product-hunt"></i>
                                </span>
                                <span class="card-field">{{ floor.floorType.text }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div id="parking" ng-if="editFormData.isParkingLot">
                <div class="card1" ng-repeat="flatParking in editFormData.flatParkings">
                    <div class="row" style="margin-bottom: 0px;">
                        <div  style="font-size: 50px;" class="col s3">
                            <i ng-if="flatParking.type.id == 1" class="fa fa-motorcycle"></i><i ng-if="flatParking.type.id == 2" class="fa fa-car"></i>
                        </div>
                        <div class="col s9">
                           <div class="amount-weight">{{ flatParking.name }}</div>
                           <p  class="card-field">{{ flatParking.type.text }}</p>
                        </div>   
                    </div>
                </div>
            </div>
            <div id="assets">
                <div class="card1" ng-repeat="asset in editFormData.societyAssets">
                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col s9">
                            <div class="amount-weight">{{ asset.name }}</div>
                            <p  class="card-field">Quantity : {{ asset.quantity }}</p>
                            <p  class="card-field">Is Usable : {{ asset.isUsable ? 'Yes' : 'No' }}</p>
                            <p  class="card-field">Is Operational {{ asset.isOperational ? 'Yes' : 'No' }}</p>
                        </div>   
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Payment Toggle End -->

<script>
    $('.tabs').tabs();
</script>
                